.grid {
    display: grid;
    /* repeat(numero veces, tamaño) */
    /* minmax() define rangos flexibles */
    grid-template-columns: repeat(4, minmax(200px,1fr));
    grid-template-rows: 2fr 1fr;
    gap: 10px 30px;
    
    /*Alineaciones
    
    justify-items, align-items => start end center stretch
    justify-content, align-content => start end center stretch space-between space-around
    
   
    place-items: [align-item] [justify-item];
    place-content: [align-content] [justify-content];

     */
    place-items: center stretch;
}

.grid .item{
    background-color: red;
    border: 1px solid #000;
    /*

    justify-self - align-self => start end center stretch;
    place-self => [align-self] [justify-self]
        
    */
}